.container{
  margin: auto;
}
.todos{
  height: 200px;
  width: 300px;
  background-color: rgba(18, 183, 248, 0.13);
  border-radius: 15px;
  position: relative;
  margin: 20px;
}
.done .todos{
  height: 200px;
  width: 300px;
  background-color: rgba(248, 102, 18, 0.13);
  border-radius: 15px;
  position: relative;
  margin: 20px;
}
.todoTitle{
  margin: 20px 0 0 0;
  padding: 10px 0 0 0;
}
.todoContents{
  margin:20px;
  word-break: break-all;
}
.todoButtons{
  position: absolute;
  bottom: 0px;
  width:300px;
  margin: auto;
}
.todoButton{
  margin: 10px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  transition: .5s;
}
.todoButton:hover{
  color: white;
  background-color: #00a6ff;
}